body {
    background-color: #dffbff;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header{
    margin-top: 20px;
    align-items: center;
    text-align: center;
    padding: 10px 20px;
}

nav {
    background-color: #243daa;
    border-radius: 50px;
    color: white;
    padding: 20px;
    text-align: center;
    max-width: 95%;
    align-items: center;
    justify-content: center;
}

header nav ul {
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover{
    color: rgb(24, 33, 77);
}

.apresentacao-produto{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.problema-a-resolver, .objetivo-projeto,
.beneficios-projeto, .ajuda-dia-a-dia{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.problema-a-resolver img{
    width: 60%;
    max-height: 500px;
}

.box-descricao{
    padding: 20px;
    background-color: #677bd4;
    border-radius: 20px;
    width: 80%;
}

main {
    padding: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

section h2 {
    color: #182258;
}

section img {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 10px 0;
}

.objetivo-projeto{
    display: flex;
    flex-direction: column;
}
.carrossel{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.linha{
    width: 100%;
    height: 2px;
}

.publico-alvo button{
    border: none;
    background-color: white;
    cursor: pointer;
}

footer {
    background-color: #264653;
    color: white;
    text-align: center;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
}

footer h2{
    color: rgb(231, 231, 255);
}

footer img{
    width: 30px;
    height: 30px;
}

.contatos{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contatos p{
    color: white;
}

.redes-sociais{
    margin: 10px;
}

.redes-sociais a {
    gap: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.apresentacao-produto img{
    width: 400px;
    border-radius: 20px;
}

.arduino{
    width: 300px; 
    height: 300px; 
    display: flex;
    align-items: center;
}
.arduino img{
    max-width: 100%; 
  max-height: 100%; 
  height: auto;
}

@media screen and (max-width: 768px){
    .section{
        width: 100%;
    }

    nav ul{
        display: none;
    }
}